:root {
  --body-width: 50rem;
  --body-offset: calc(50vw - var(--body-width) / 2);
  --left-comp: calc(-1px - var(--body-offset));

  font-family: Arial, Helvetica, sans-serif;

  * {
    font-size: 1rem !important;
    &[hidden] {
      display: none;
    }
    &.highlight {
      background-color: #02ff7830;
    }
  }

  h1 {
    font-size: 1.5rem !important;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #333;
  }

  h2 {
    font-size: 1.25rem !important;
    font-weight: bold;
    border-bottom: 1px solid #333;
  }

  h3 {
    font-weight: bold;
  }

  h4 {
    font-weight: bold;
    font-style: italic;
  }

  p {
    min-height: 1em;
  }
}

html {
  body {
    position: absolute;
    top: 0;
    left: var(--body-offset);
    width: var(--body-width);

    margin: 0;
    padding: 0 2em;
    border: 1px solid lightgrey;
    border-width: 0 1px;
    box-shadow: 0 0 10px 0px lightgrey;

    main {
      p {
        width: 80%;
        margin: 1rem auto;
        border: 1px solid black;
        padding: 1rem;
      }
    }

    pre {
      width: 100%;
      white-space: pre-wrap;
      padding: 0.5em;

      &.live-markdown {
        border: 1px solid black;
        border-width: 2px 0;
        background-color: #ff02;
      }
    }

    code {
      background: #f4f4ff;
    }

    div.matcher,
    div.letter-matcher,
    div.edit-options {
      position: absolute;
      width: 0;
      height: 0;
      background: #00ff7010;
      pointer-events: none;
      margin-left: var(--left-comp);
    }

    div.letter-matcher {
      background: transparent;
      border: none;
      border-bottom: 3px solid red;
    }

    div.edit-options {
      pointer-events: auto;

      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      row-gap: 2px;
      column-gap: 2px;
      padding: 0.25em 1em;

      background: #02ff78;
      color: #333;
      border: 1px solid black;
      box-sizing: border-box;

      width: 100%;
      height: fit-content;

      & button {
        border: 1px solid #444;
        border-radius: 0;
        background: white;

        &.active {
          background: #00e5ff;
        }
      }
    }

    &[contenteditable] {
      textarea {
        width: 100%;
        min-height: 4em;
      }
      blockquote {
        position: relative;
        margin: 0 1rem;
        padding: 1rem;
        background: #f7f7f7;
        border-radius: 1rem;
        &:before {
          content: "“";
          font-size: 3rem;
          color: #00000050;
          position: absolute;
          top: -0.7rem;
          left: -0.7rem;
        }
        &:after {
          content: "”";
          font-size: 3rem;
          color: #00000050;
          position: absolute;
          bottom: -2.3rem;
          right: -0.5rem;
        }
      }
      table {
        border-collapse: collapse;
        th {
          white-space: nowrap;
        }
        th,
        td {
          border: 1px solid black;
          padding: 1px 5px;
          height: 1rem;
          width: 3em;
          text-align: center;
        }
      }
      figure {
        max-width: 80%;
        img {
          max-width: 100%;
        }
        figcaption {
          font-style: italic;
          font-size: 0.9rem;
        }
      }
    }
  }
}
