:root {
  font-family: Arial, Helvetica, sans-serif;

  * {
    font-size: 1rem !important;
  }

  h1 {
    font-size: 1.5rem !important;
    font-weight: bold;
  }
  h2 {
    font-size: 1.25rem !important;
    font-weight: bold;
  }
  h3 {
    font-weight: bold;
  }
  h4 {
    font-weight: bold;
    font-style: italic;
  }
}
html {
  body {
    #cursor {
      position: absolute;
      width: 1px;
      height: 1em;
      background: black;
      animation: 1s cursor-blink linear forwards infinite;
      animation-timing-function: steps(3, end);
    }

    main {
      p {
        width: 80%;
        margin: 1rem auto;
        border: 1px solid black;
        padding: 1rem;
      }
    }

    div.matcher {
      position: absolute;
      width: 0;
      height: 0;
      background: #00ff7030;
      pointer-events: none;
      &:nth-of-type(2) {
        background: transparent;
        border: none;
        border-bottom: 3px solid red;
      }
    }

    div.edit-options {
      position: absolute;
      width: 0;
      height: 0;
      background: #02ff78;
      color: white;
    }
  }
}

@keyframes cursor-blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
